<div id="<%= dom_id coin %>" class="bg-dark p-3 rounded-3 mb-4 shadow-sm border border-warning">
    <div class="card-body">
        <h4 class="card-title text-light
         mb-3">
            <%= t('historical_prices') %>
        </h4>

        <% if coin.historical_prices.any? %>
        <div class="table-responsive">
            <table class="table table-striped  table-hover  rounded-3">
                <thead class="table-dark text-center">
                    <tr>
                        <th>
                            <%=t('date') %> </th>
                        <th class="text-end text-warning pe-4">
                            <%=t('price') %> </th>
                    </tr>
                </thead>
                <tbody>
                    <% coin.historical_prices.each do |price| %>
                    <tr>
                        <td class=" text-center bg-dark text-light">
                            <%= price.recorded_at&.strftime("%d/%m/%Y") || "N/A" %>
                        </td>
                        <td class=" text-end bg-dark text-warning">
                            <%= number_to_currency(price.price, unit: "$") %>
                        </td>
                    </tr>
                    <% end %>
                </tbody>
            </table>
        </div>
        <% else %>
        <p class="text-muted">No historical prices available.</p>
        <% end %>
    </div>
</div>