<p style="color: green"><%= notice %></p>

<% content_for :title, "Coins" %>

<h1 class="text-light">
    <%= t('coins') %> </h1>

<div id="coins">
    <% @coins.each do |coin| %>
    <div class="coin-container">
        <%= render coin %>

        <div class="d-flex justify-content-end">

            <p>
                <%= link_to "Show this coin", coin, class: "btn btn-sm btn-warning me-3" %>
            </p>

            <p>
                <%= link_to "Add Historical Price", new_historical_price_path(coin_id: coin.id), class: "btn btn-sm bg-dark text-warning text-decoration-underline" %>
            </p>
        </div>


    </div>
    <hr>
    <% end %>
</div>

<%= link_to "New coin", new_coin_path, class: "btn btn-primary" %>