<%# app/views/coins/show.html.erb %>
<div class="container mt-5">
  <% if notice %>
    <div class="alert alert-success">
      <%= notice %>
    </div>
  <% end %>

  <%= render @coin %>

  <div class="mt-4 d-flex">
    <%= link_to "Editar esta moeda", edit_coin_path(@coin), class: "btn btn-warning" %>
    <%= link_to "Voltar para moedas", coins_path, class: "btn btn-secondary ms-3" %>
    <%= button_to "Deletar esta moeda", @coin, method: :delete, data: { confirm: 'Tem certeza?' }, class: "btn btn-danger ms-3" %>
  </div>
</div>
