<p style="color: green"><%= notice %></p>

<%= render @coin %>
<%= render "historical_price_table", coin: @coin %>

<div>
    <%= link_to "Edit this coin", edit_coin_path(@coin), class: "btn btn-primary" %> |
    <%= link_to "Back to coins", coins_path, class: "btn btn-secondary" %>
    <%= button_to "Destroy this coin", @coin, method: :delete, data: { confirm: "Are you sure you want to delete this coin?" }, class: "btn btn-danger" %>
</div>